body{
margin-top: 0;
left: 0;
right: 0;
	
}


.navbar{
    background-attachment: fixed;
    height: 50px;
    background-color: #d49845;
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 0; 
    
    
}
.h2_mid{
    
    color: red;
    margin: .6%;
    position: absolute; 
    left: 350px;
    font-size: medium ;
    }
    .nav_1{
        color: white;
        margin-top : 25px;
       left: 200px;
        transition: 0.1s ease-in;
    }
    .nav_2{ 
        color: white;
        margin: .6%;
        position: absolute;
        left: 950px;
        font-size: small;
        transition: 0.1s ease-in;
    }
    .p_1{
        color: white;
        margin: .6%;
        position: absolute;
        left: 939px;
        font-size: small;
    }
    
    .form_1	{
        margin: .5%;
        position: absolute;
        left: 78%;
        font-size: small;
    
    }
    .input_1{
        color: grey;
        background-color: black;
        border-color: darkgray;
        font-size: small;
        font:bold;
    }
    .button_first{
        color: #c0c0c0;
        border-color:#404040 ;
        background-color: #242424;
    }
    .nav_1:hover{
        color: red;
    }
    .nav_2:hover{
        color: red;
    }
   
    